// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #3c63ff;
$yellow: #ffe680;
$orange: #f7602b;
$green: #00ad88;
$gray: #000000;
$light-gray: #f2f2f2;
$navy-blue: #142433;
$light-blue: #b6d1ea;
$dark-gray: #09131b;



