// Specific CSS for your home-page
.home-content{
  display: flex;
  flex-direction: column;
}

.background-image{
    //background-image: url(background.1c020ed1.svg);
    //background-repeat: no-repeat;
    //background-size: cover;

    background: url(background.1c020ed1.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.home-tips{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 50px;
  background-color: $yellow;
  color: $navy-blue;
  border-radius: 10px;
}

img{
  margin:0px;
}

.icon-home{
  width: 350px;
  align-items: center;
}

.tip-home{
  text-align: center;
}

.card-home{
justify-content: center;
}

.commute{
  margin-left: 50px;
}
