
.background-image{
    //background-image: url(background.1c020ed1.svg);
    //background-repeat: no-repeat;
    //background-size: cover;

    background: url(background.1c020ed1.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-title{
  text-align: center;
}

.home-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-tips{
  justify-content: space-between;
  margin: 60px;
  padding: 50px;
  background-color: $yellow;
  color: $navy-blue;
  border-radius: 10px;
}

.card-home{
  text-align: center;
}

.tip-home{
  h3{
    font-weight: bolder;
    color: $navy-blue;
    margin: 50px 0 0 0;
  }
}

.icon-home{
  padding: 0 50px;

}

.home-btn{
  min-width: 27vw;
  margin-bottom: 300px;
  padding: 30px;
  font-weight: bolder;
  font-size: 28px;
}

.emphasis{
  box-shadow: inset 0px -11px 0px 0px rgba(0, 173, 136, 0.7);
}


@media screen and (max-width: 1000px) {

  .tip-home{
    h3{
      margin: 30px 0 70px 0;
    }
  }

  .icon-home{
    padding: 20px 20px 0 20px;

  }


  .home-tips{
    padding: 15px;
    margin: 30px;
  }
}
