h1{
font-weight: bolder;
color: $light-gray;

}

.itinerary-title{
  text-align: center;
  margin: 30px 0 70px 0;
}

.icon-itinerary-small{
  max-width: 100px;

}


#new_itinerary{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-bottom: 100px;
}

.itinerary-form-input{
  display: flex;
  align-items: center;
  width: 700px;
}

.or-liaison{
  text-align: center;
  font-weight: bolder;
}

input[type="radio"] {
  display:none;
}

.collection_radio_buttons{
  border-radius: 10px;
  padding:10px;
  margin-top:10px;
  display:block;
  position:relative;
  text-align: center;
}

.collection_radio_buttons:hover {
  cursor:pointer;
  background-color:$green;

}

input[type="radio"]:checked + label {
  background-color: $green;
}

.inspiration_choice{
  display: flex;
  justify-content: space-evenly;
}

.btn-submit{
min-width: 350px;
font-weight: bolder;
}


@media screen and (max-width: 1000px) {

.itinerary-form-input{
  width: 500px;
}

.inspiration_choice{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px 30px;
}


}

@media screen and (max-width: 500px) {

.itinerary-form-input{
  width: 350px;
}


.collection_radio_buttons{
  //border: solid 1px $green;
  border-radius: 10px;
  padding:5px;
  display:block;
  position:relative;
  text-align: center;
}

}
