<div class="background-image">
  <div class="container ">
    <div class="home-content">
      <div class="home-title">
        <h1>Sick of losing time during your <br>commute?</h1>
      </div>
      <div class="row home-tips">
        <!-- <div class=""> -->
          <div class="card-home home-commute col-xs-12 col-md-4 ">
            <div class="icon-home commute">
              <%= image_tag "train_style2.svg" %>
            </div>
            <div class="tip-home commute">
              <h3>Spending time in <span class="emphasis">commute everyday</span>?</h3>
            </div>
          </div>
          <div class="card-home home-time col-xs-12 col-md-4 ">
            <div class="icon-home value">
              <%= image_tag "value.svg" %>
            </div>
            <div class="tip-home value">
              <h3>Get <span class="emphasis">quality content</span>...</h3>
            </div>
          </div>
          <div class="card-home home-time col-xs-12 col-md-4 ">
            <div class="icon-home time">
              <%= image_tag "time.svg" %>
            </div>
            <div class="tip-home time">
              <h3>...for just <span class="emphasis">the right time span</span></h3>
            </div>
          </div>
        <!-- </div> -->
      </div>
      <%= link_to "Join Smart-commute", new_itinerary_path, class:'btn btn-warning home-btn' %>
    </div>
  </div>
</div>
