.emphasis-title-blue{
  box-shadow: inset 0px -19px 0px 0px rgba(60, 99, 255, 0.8);
}

.emphasis-title-green{
  box-shadow: inset 0px -19px 0px 0px rgba(0, 173, 136, 0.8);
}

.emphasis{
  box-shadow: inset 0px -11px 0px 0px rgba(0, 173, 136, 0.7);
}

.emphasis-title-red{
  box-shadow: inset 0px -19px 0px 0px rgba(238, 95, 91, 0.8);
}

.emphasis-title-orange{
  box-shadow: inset 0px -19px 0px 0px rgba(247, 96, 43, 0.8);
}

.emphasis-subtitle-red{
  box-shadow: inset 0px -11px 0px 0px rgba(238, 95, 91, 0.8);
}

.emphasis-subtitle-orange{
  box-shadow: inset 0px -11px 0px 0px rgba(247, 96, 43, 0.8);
}

.emphasis-subtitle-yellow{
  box-shadow: inset 0px -11px 0px 0px rgba(255, 230, 128, 0.9);
}
