.emphasis-title-blue{
  box-shadow: inset 0px -19px 0px 0px rgba(60, 99, 255, 0.8);
}

.emphasis-title-green{
  box-shadow: inset 0px -19px 0px 0px rgba(0, 173, 136, 0.8);
}

.emphasis{
  box-shadow: inset 0px -11px 0px 0px rgba(0, 173, 136, 0.7);
}



